*.csv
*.pyc
*.parquet
*.log
*.zip
*.geojson
#!hero_v5/data/wfp_with_pcodes.parquet
#!hapi_pipeline/data/raw/join_wpdx_with_ipc_wide.parquet
hero_v6/data/boundaries/
hero_v6/data/boundaries.7z
hero_v2/*
hero_v3/*
hero_v4/*
hero_v5/*
!hero_v6/data/merged/*.parquet
!hero_v6/data/raw/*.parquet
hero_v6/ML/results/
World_Food_Prices/
hero_v6/TS/**/results/
hero_v6/TS/**/results_OLD/
hero_v6/TSA/results/
hero_v6/TSA/results_reorganized/
hero_v6/UI/data/ts_reorganized/
hero_v6/UI/tmp/