*.csv
*.pyc
*.parquet
*.log
*.zip
*.geojson
#!hero_v5/data/wfp_with_pcodes.parquet
#!hapi_pipeline/data/raw/join_wpdx_with_ipc_wide.parquet
hero_v6/data/boundaries/
hero_v6/data/boundaries.7z
hero_v2/*
hero_v3/*
hero_v4/*
hero_v5/*


!hero_v6/merged/*.parquet